commands:
  01_fix_db_migrate:
    command: "mv /tmp/12_db_migration.sh /opt/elasticbeanstalk/hooks/appdeploy/pre/12_db_migration.sh"
  02_fix_asset_compliation:
    command: "mv /tmp/11_asset_compilation.sh /opt/elasticbeanstalk/hooks/appdeploy/pre/11_asset_compilation.sh"

files:
  /tmp/12_db_migration.sh:
    mode: "000755"
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/containerfiles/envvars

      [ "$RAILS_SKIP_MIGRATIONS" == "true" ] &&
        echo "Skipping database migrations (RAILS_SKIP_MIGRATIONS=true)." &&
        exit 0

      cd $EB_CONFIG_APP_ONDECK
      su -c "leader_only /usr/local/bin/bundle exec rake db:migrate" $EB_CONFIG_APP_USER ||
        echo "Rake task failed to run, skipping database migrations."

      true
  /tmp/11_asset_compilation.sh:
    mode: "000755"
    content: |
      #!/usr/bin/env bash

      . /opt/elasticbeanstalk/containerfiles/envvars

      if [ "$RAILS_SKIP_ASSET_COMPILATION" == "true" ]; then
          echo "Skipping asset compilation (RAILS_SKIP_ASSET_COMPILATION=true)."
      else
          cd $EB_CONFIG_APP_ONDECK
          echo "running 'bundle exec rake assets:precompile'..."

          su -c "/usr/local/bin/bundle exec rake assets:precompile" $EB_CONFIG_APP_USER

          if [ $? != 0 ]; then
              echo "Rake task failed to run, skipping asset compilation."
          else
              echo "Asset compilation succesful"
          fi
      fi

      true