# Modified system bundle script to run 'bundle package'
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_bundle_install.sh":
    content: |
        #!/usr/bin/env bash

        . /opt/elasticbeanstalk/containerfiles/envvars

        cd $EB_CONFIG_APP_ONDECK

        if [ -f Gemfile ]
        then
          echo "running 'bundle install' with Gemfile:"
          cat Gemfile

          if [ -d $EB_CONFIG_APP_ONDECK/vendor/cache ]
          then
            NOKOGIRI_USE_SYSTEM_LIBRARIES=1 /usr/local/bin/bundle install --local
            # Incase there is a gem that is missing from the cache
            NOKOGIRI_USE_SYSTEM_LIBRARIES=1 /usr/local/bin/bundle pack --all
            NOKOGIRI_USE_SYSTEM_LIBRARIES=1 /usr/local/bin/bundle install
          else
            NOKOGIRI_USE_SYSTEM_LIBRARIES=1 /usr/local/bin/bundle pack --all
            NOKOGIRI_USE_SYSTEM_LIBRARIES=1 /usr/local/bin/bundle install
          fi

          if [ $? != 0 ]
          then
            echo "ERROR: bundle install failed!"
            exit 1
          else
            echo "bundle install succeeded"
          fi

        else
          echo "no Gemfile found! Skipping bundle install stage!"
        fi

        if [ -f Gemfile.lock ]
        then
          echo "encountered a Gemfile.lock, setting proper permissions"
          chown $EB_CONFIG_APP_USER:$EB_CONFIG_APP_USER Gemfile.lock
        else
          echo "no Gemfile.lock file found, so no permissions to set on it";
        fi

        true
    mode: "000755"