files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      client_max_body_size 4G;
  #
  # "/etc/nginx/conf.d/webapp.conf" :
  #   mode: "000644"
  #   owner: root
  #   group: root
  #   content: |
  #     upstream my_app {
  #       server unix:///var/run/puma/my_app.sock;
  #     }
  #
  #     server {
  #       listen 80;
  #       server_name _ localhost; # need to listen to localhost for worker tier
  #
  #       root /var/app/current/public;
  #
  #       try_files $uri/index.html $uri @rails_app;
  #
  #       location / {
  #         proxy_set_header Host $host;
  #         proxy_redirect off;
  #         proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  #         proxy_pass http://my_app; # match the name of upstream directive which is defined above
  #       }
  #
  #       error_page 500 504 /500.html;
  #       error_page 502 /502.html;
  #       error_page 503 /503.html;
  #       keepalive_timeout 10;
  #     }